*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background: #161513;
    color: white;
    font-family: outfit;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 170px;
}

.nav-menu{
    margin: 0px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    gap: 60px;
    font-size: 20px;
}

.nav-connect{
    padding: 20px 40px;
    border-radius: 50px;
    background: linear-gradient(267deg, #DA7C25 0.36%, #B923E4 1.2%);
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
}

.nav-connect:hover{
    transform: scale(1.05);
}